Skip to content
 This repository
Explore
Gist
Blog
Help
@blockoftext blockoftext
 
 Unwatch 1
  Star 0
  Fork 0
blockoftext/dota-machine-learning
 branch: master dota-machine-learning/.gitignore
@blockoftextblockoftext 5 minutes ago Initial commit
1 contributor
RawBlameHistory     55 lines (45 sloc)  0.675 kb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
Status API Training Shop Blog About
© 2015 GitHub, Inc. Terms Privacy Security Contact
