.match-table td {
    padding: 0 5px;
}

.loading-spinner-wrap {
    opacity: 0.5;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.loading-spinner-wrap > .spinner {
    top: 50%;
    left: 50%;
}

.hero-image {
    width: 128px;
    height: 72px;
}

.hero-image-small {
    width: 64px;
    height: 36px;
}

.item-image {
    width: 90px;
    height: 64px;
    overflow: hidden;
}

.match-detail-item {
    width: 44px;
    height: 32px;
    display: inline-block;
    background-color: #bbbbbb;
    overflow: hidden;
}

.match-detail-item.empty {
}

.footer-copy {
    font-size: 12px;
    margin: 5px 0;
}

.footer-copy.right {
    text-align: right;
}

.footer {
    margin: 20px;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}