{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Dota Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script src="{% static "js/stats.js" %}"></script>
    <script src="{% static "js/rivets.min.js" %}"></script>
    <link href="{% static "bower/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "bower/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bower/underscore/underscore-min.js" %}"></script>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'admin' %}">Stats</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="active">
                    <form method="post" class="navbar-form navbar-left" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                        <button class="btn btn-default" type="submit">Login</button>
                    </form>
                </li>
            {% endif %}
            </ul>

        </div>
    </div>
</nav>

{% if user.is_authenticated %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                Stored Matches: {{ count }}
                Processed: {{ processed }}
            </div>
            <div>
                Models: {{ models }}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}

    <div class="row">
        <div class="col-md-12">
            <button rv-on-click="stats.events.getMatches" class="btn btn-default" type="submit">Get Matches</button>
            <button rv-on-click="stats.events.processMatch" class="btn btn-default" type="submit">Process Match</button>
            <button rv-on-click="stats.events.getStaticData" class="btn btn-default" type="submit">Load Static Data</button>
            <button rv-on-click="stats.events.buildModel" class="btn btn-default" type="submit">Build Model</button>
        </div>
    </div>

    {% endif %}
    <div class="row" id="date-count">

    </div>

    <div class="row">
        <div class="col-md-4">
            Strength
            <div class="row" id="str-hero">

            </div>
        </div>
        <div class="col-md-4">
            Agility
            <div class="row" id="agi-hero">

            </div>
        </div>
        <div class="col-md-4">
            Intelligence
            <div class="row" id="int-hero">

            </div>
        </div>
    </div>
</div>

<script>
    (function(){
        stats.init({
            getMatch:'{% url 'load-matches' %}',
            processMatch:'{% url 'process-match' %}',
            staticData: '{% url 'static-data' %}',
            buildModel: '{% url 'build-data' %}'
        },
        {{ heroes|safe }},
        {{ date_count|safe }}
    )})();
</script>

{% else %}
<h1>Please Log In</h1>
{% endif %}


{% if GA_KEY %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ GA_KEY }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}

</body>
</html>