{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Dota Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/stats.js" %}"></script>
    <script src="{% static "js/rivets.min.js" %}"></script>
    <script src="{% static "js/underscore-min.js" %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>

</head>
<body>

<script type="text/jsx">
    var DotaStats = React.createClass({
        render: function () {
            return (<div>
                <NavBar elements={['Heroes', 'Matches', 'Items']}/>
                <ContentBody><HeroBox url="{% url 'hero-list' %}" /></ContentBody>
            </div>);
        }
    });

    var MatchList = React.createClass({
        render: function () {
            return (<div className="row"></div>);
        }
    });

    var HeroList = React.createClass({
        render: function () {
            var heroNodes = this.props.data.map(function (hero) {
                return (
                        <Hero hero={hero}/>
                );
            });
            return (
                    <div className="hero-list">
                        {heroNodes}
                    </div>
            );
        }
    });

    var HeroBox = React.createClass({
        getInitialState: function () {
            return {data: []};
        },
        componentDidMount: function () {
            $.ajax({
                url: this.props.url,
                dataType: 'json',
                cache: false,
                success: function (data) {
                    this.setState({data: data});
                }.bind(this),
                error: function (xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                }.bind(this)
            });
        },
        render: function () {
            return (
                    <div className="hero-box">
                        <h1>Heroes</h1>
                        <HeroList data={this.state.data}/>
                    </div>
            );
        }
    });

    var Hero = React.createClass({
        render: function () {
            var hero = this.props.hero;
            return (
                    <div className="col-md-4">
                        <a href={hero.url}>
                            <img src={hero.hero_image}/>
                            <div>{hero.localized_name}</div>
                        </a>
                    </div>
            )
        }
    });
    var ContentBody = React.createClass({
        render: function () {
            return (<div className="container">{this.props.children}</div>);
        }
    });

    var NavBar = React.createClass({
        elementClick: function (i) {
            this.setState({active: this.props.elements[i]});
        },
        getInitialState: function () {
            return {active: this.props.elements[0]}
        },
        renderChildren: function () {
            return this.props.elements.map(function (element, i) {
                return (
                        <NavElement key={i} active={this.state.active} name={element}
                                    click={this.elementClick.bind(this, i)}/>
                );
            }, this);
        },
        render: function () {
            return (
                    <nav className="navbar navbar-default">
                        <div className="container-fluid">
                            <div className="navbar-header">
                                <button type="button" className="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span className="sr-only">Toggle navigation</span>
                                    <span className="icon-bar"></span>
                                    <span className="icon-bar"></span>
                                    <span className="icon-bar"></span>
                                </button>
                                <a className="navbar-brand" href="#">Dota Stats</a>
                            </div>
                            <div className="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul className="nav navbar-nav">
                                    {this.renderChildren()}
                                </ul>
                            </div>
                        </div>
                    </nav>
            )
        }
    });

    var NavElement = React.createClass({
        render: function () {
            var active = this.props.active === this.props.name ? 'active' : '';
            return (
                    <li onClick={this.props.click} className={active}>
                        <a className="navbar-brand" href="#">{this.props.name}</a>
                    </li>
            );
        }
    });

    React.render(
            <DotaStats />,
            $('body')[0]
    );

</script>
</body>


</html>