{% extends "DotaStats/index.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                Stored Matches: {{ count }}
                Processed: {{ processed }}
            </div>
            <div>
                Dire: {{ wins.dire }}, Radiant: {{ wins.radiant }}
            </div>
            <div>
                Models: {{ models }}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}

    <div class="row">
        <div class="col-md-12">
            <button rv-on-click="stats.events.getMatches" class="btn btn-default" type="submit">Get Matches</button>
            <button rv-on-click="stats.events.processMatch" class="btn btn-default" type="submit">Process Match</button>
            <button rv-on-click="stats.events.getStaticData" class="btn btn-default" type="submit">Load Static Data</button>
            <button rv-on-click="stats.events.buildModel" class="btn btn-default" type="submit">Build Model</button>
        </div>
    </div>

    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <table id="str-hero">

            </table>
        </div>
        <div class="col-md-4">
            <table id="agi-hero">

            </table>
        </div>
        <div class="col-md-4">
            <table id="int-hero">

            </table>
        </div>
    </div>
</div>

<script>
    (function(){
        stats.init({
            getMatch:'{% url 'load-matches' %}',
            processMatch:'{% url 'process-match' %}',
            staticData: '{% url 'static-data' %}',
            buildModel: '{% url 'build-data' %}'
        },
        {{ heroes|safe }}
        )})();
</script>
{% endblock %}