{% extends "DotaStats/index.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                Stored Matches: <span rv-count="stats.matches"></span>
                Processed: <span rv-html="stats.processed_matches"></span>
            </div>
            <div>
                Dire: {{ wins.dire }}, Radiant: {{ wins.radiant }}
            </div>
            <div>
                Models: {{ models }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button rv-on-click="stats.events.getMatches" class="btn btn-default" type="submit">Get Matches</button>
            <button rv-on-click="stats.events.processMatch" class="btn btn-default" type="submit">Process Match</button>
            <button rv-on-click="stats.events.getStaticData" class="btn btn-default" type="submit">Load Static Data</button>
            <button rv-on-click="stats.events.buildModel" class="btn btn-default" type="submit">Build Model</button>
        </div>
    </div>
{#    <div class="row">#}
{#        <div class="col-md-12">#}
{#            {% if models %}#}
{#                <table>#}
{#                {% for model in models %}#}
{#                    <tr>#}
{#                        <td>#}
{#                            {{ model.id }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ model.n_matches }}#}
{#                        </td>#}
{#                        <td>#}
{#                            {{ model.is_ready }}#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </table>#}
{#            {% else %}#}
{#                No Models#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
</div>

<script>
    (function(){
        stats.init({
            getMatch:'{% url 'load-matches' %}',
            processMatch:'{% url 'process-match' %}',
            staticData: '{% url 'static-data' %}',
            buildModel: '{% url 'build-data' %}'
        },
        {{ matches|safe }},
        '{{ processed }}');
    })();
</script>
{% endblock %}