{% extends "DotaStats/index.html" %}


{% block content %}
{% if match %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Match: {{ match.match_id }}</h1>

            {% if match.radiant_win %}
                <h3>Radiant Win</h3>
            {% else %}
                <h3>Dire Win</h3>
            {% endif %}

            {% if user.is_authenticated %}
            <a href="{% url 'update-match' match.match_id %}" target="_blank">Details</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="match-table">
                <thead>
                    <tr>
                        <td>start_time</td>
                        <td>duration</td>
                        <td>first_blood_time</td>
                        <td>lobby_type</td>
                        <td>game mode</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ match.start_time }}
                        </td>
                        <td>
                            {{ match.duration }}
                        </td>
                        <td>
                            {{ match.first_blood_time }}
                        </td>
                        <td>
                            {{ match.get_lobby_string }}
                        </td>
                        <td>
                            {{ match.get_game_mode_string }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="match-table">
                <thead>
                    <tr>
                        <td>
                            Hero
                        </td>
                        <td>
                            Leaver Status
                        </td>
                        <td>
                            Kills
                        </td>
                        <td>
                            Deaths
                        </td>
                        <td>
                            Assists
                        </td>
                        <td>
                            Last Hits
                        </td>
                        <td>
                            Denies
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for playerinmatch in match.playerinmatch.all %}
                    <tr>
                        <td>
                            <a href="{% url 'hero-detail' playerinmatch.hero.hero_id%}"> <img src="{{ playerinmatch.hero.get_small_image }}"></a>
                        </td>
                        <td>
                            {{ playerinmatch.get_leaver_string }}
                        </td>
                        <td>
                            {{ playerinmatch.kills }}
                        </td>
                        <td>
                            {{ playerinmatch.deaths }}
                        </td>
                        <td>
                            {{ playerinmatch.assists }}
                        </td>
                        <td>
                            {{ playerinmatch.last_hits }}
                        </td>
                        <td>
                            {{ playerinmatch.denies }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}