{% extends "DotaStats/index.html" %}


{% block content %}
{% if match %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Match: {{ match.match_id }}</h1>
            {% if match.radiant_win %}
                <h3>Radiant Win</h3>
            {% else %}
                <h3>Dire Win</h3>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <table>
            <tbody>
                <tr>
                    {% for hero in match.get_heroes_for_match %}
                    <td>
                        <a href="{% url 'hero-detail' hero.hero_id%}"> <img src="{{ hero.get_small_image }}"></a>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ data }}
        </div>
    </div>


</div>
{% endif %}

{% endblock %}