{% extends "DotaStats/index.html" %}

{% block content %}
    <div id="content"></div>

    <script type="text/jsx">

        var Battlefield = React.createClass({
            getInitialState: function() {
                return {monsterA:{}, monsterB:{}, monsterListA: [{}], monsterListB:[{}]};
            },
            componentDidMount: function() {
                $.ajax({
                  url: this.props.url,
                  dataType: 'json',
                  cache: false,
                  success: function(data) {
                      var monsterListA = _.sample(data, 6),
                          monsterListB = _.sample(data, 6);

                    this.setState(
                        {
                            monsterA: _.sample(monsterListA),
                            monsterB:_.sample(monsterListB),
                            monsterListA: monsterListA,
                            monsterListB: monsterListB
                        }
                    );
                  }.bind(this),
                  error: function(xhr, status, err) {
                    console.error(this.props.url, status, err.toString());
                  }.bind(this)
                });
          },
            render: function(){
               return (
                    <div className="container">
                        <div className="row">
                            <MonsterList data={this.state.monsterListA} />
                            <ActiveMonster data={this.state.monsterA} />
                            <ActiveMonster data={this.state.monsterB}/>
                            <MonsterList data={this.state.monsterListB} />
                        </div>
                    </div>
               )
            }
        });

        var MonsterList = React.createClass({
            render:function(){
                var MonsterNodes = this.props.data.map(function(monster){
                    return (
                        <MonsterRow monster={monster}/>
                    )
                });
                return (
                    <div className="col-md-3">
                        <div className="row">
                            <div className="col-md-12">
                                <h3>Monster List</h3>
                            </div>
                            <div className="col-md-12">
                                {MonsterNodes}
                            </div>
                        </div>
                    </div>
                )
            }
        });

        var ActiveMonster = React.createClass({
            render:function(){
                var monster = this.props.data;
                return (
                    <div className="col-md-3">
                        <div className="row">
                            <div className="col-md-12">
                                <h3>Active Monster</h3>
                            </div>
                        </div>

                        <div className="row">
                            <div className="col-md-12">
                                {monster.localized_name}
                            </div>
                            <div className="col-md-12">
                                <img src={monster.hero_image} />
                            </div>
                        </div>
                    </div>

                )
            }
        });

        var MonsterRow = React.createClass({
            render:function(){
                var monster = this.props.monster;
                return (
                    <div className="col-md-12">
                        <div className="row">
                            <div className="col-md-4">
                                <img src={monster.small_hero_image} />
                            </div>
                            <div className="col-md-8">
                                {monster.localized_name}
                            </div>
                        </div>
                    </div>
                )
            }
        });



        React.render(
            <Battlefield url='{% url 'hero-list' %}' />,
          document.getElementById('content')
        );







        var Hero = React.createClass({
            render: function(){
                var hero = this.props.hero;
                return (
                    <div class="col-md-4">
                        <a href={hero.url}>
                            <img src={hero.hero_image} />
                            <div>{hero.localized_name}</div>
                        </a>
                    </div>
                )
            }
        });

        var HeroList = React.createClass({
            render: function() {
                var heroNodes = this.props.data.map(function (hero) {
                  return (
                    <Hero hero={hero}/>
                  );
                });
                return (
                  <div className="hero-list">
                    {heroNodes}
                  </div>
                );
            }
        });
        var HeroBox = React.createClass({
          getInitialState: function() {
            return {data: []};
          },
          componentDidMount: function() {
            $.ajax({
              url: this.props.url,
              dataType: 'json',
              cache: false,
              success: function(data) {
                this.setState({data: data});
              }.bind(this),
              error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
              }.bind(this)
            });
          },
          render: function() {
            return (
              <div className="hero-box">
                <h1>Heroes</h1>
                <HeroList data={this.state.data} />
              </div>
            );
          }
        });



    </script>
{% endblock %}